body{
    background-color: #e9e9e9;
}
.card{
    border: 3px solid #000000;
    border-radius: 15px;
}

.tweetcardddddddd{
    border: 3px solid #000000;
    background-color: #ffffff;
}
#newMemberButton{
    margin-top: 30px;
}
.iconImg{
    width: 15%;
    margin-top: 40px;
}

.btn{
    width: 200px;
    background-color: aliceblue;
    border: 1px solid black;
}

.subText{
    width: 150px;
}
.error{
    color: #ff0000;
}
.inputs{
    width:80%;
}
.fixText{
    padding-left:10%;
}
.preview img {
    width: 200px;
    margin: 10px;
    border: solid 1px silver;
}
